<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Memelapur Store</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='title.png') }}">
    <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<div class="page">
         <header>
 
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <a href="/">   
                            <img src="{{url_for('static',filename='img/campus--connect.png')}}" width="110px"></a>
                    </div>
                    <nav>
                        <ul id="menuitems"> 
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <button><a href="/login">Login</a></button>
                        </ul>
                    </nav>
                    <img src="img/menu.png" class="menuicon" 
                    onclick="menutoggle()">
                </div>
                
            </div>
        </header>

        <h2 class="sectiontitle">Contact us</h2> 

    <!-- contact  -->
    <section class="contact">
        <div class="cont">
            
        </div>
        <div class="contain">
            <div class="classinfo">
                <div class="box">
                    <div class="icons">
                        <i class='bx bxs-map'></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>Graphic Era Hill University ,<br> Tallarampur Motahaldu  Haldwani,<br>Uttarakhand </p>
                    </div>
                </div>
                <div class="box">
                    <div class="icons">
                        <i class='bx bxs-phone' ></i>
                    </div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+91 9900090009</p>
                    </div>
                <div class="box">
                    <div class="icons">
                        <i class='bx bxs-envelope' ></i>
                    </div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>Campusconnect@gmail.com</p>
                    </div>
                    
                </div>
            </div>
</div>
    </section>

        <!--------------fotter-->

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footerco1">
                        <h3>Download Our App</h3>
                        <p>Download App for Android and ios mobile phone</p>
                        <div class="applogo">
                            <img src="{{url_for('static',filename='img/play-store.png')}}">
                            <img src="{{url_for('static',filename='img/app-store.png')}}">
                        </div>
                    </div>
                    <div class="footerco2">
                        <img src="{{url_for('static',filename='img/logo.png')}}">
                        <p>Transform your skills, share your story, and connect with opportunities — because your career journey starts here</p>
                    </div>
                    <div class="footerco3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="/" class="uselinks">Home</a></li>
                            <li><a href="/about" class="uselinks">About</a></li>
                            <li><a href="/contact" class="uselinks">Contact</a></li>
                            <li><a href="/login" class="uselinks">Login/Signup</a></li>
                        </ul>
                    </div>
                    <div class="footerco4">
                        <h3>Follow Us</h3>
                        <ul>
                            <li ><a href="https://www.facebook.com/" target="_blank" class="uselinks">Facebook</a></li>
                            <li ><a href="https://www.instagram.com/" class="uselinks" target="_blank">Instagram</a></li>
                            <li ><a href="https://github.com/" class="uselinks" target="_blank">GitHub</a></li>
                            <li ><a href="https://www.linkedin.com/" class="uselinks"target="_blank">LinkedIn</a></li>
                        </ul>
                    </div>
                    <hr>
                    <p class="copyright">Copyright 2025 - Campus Connect</p>
                </div>
            </div>
        </div>

    
    <!-- link to js -->
    <script src={{url_for('static',filename='main.js')}}></script>

</body>
</html>